In [1]:
import pandas as pd

In [3]:
raw_data = pd.read_csv("C:/Users/Administrator/Downloads/Automobile_price_data__Raw_.csv")

#### 1. Pandas Basics

In [27]:
raw_data.head(2)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500

In [9]:
raw_data.tail()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [11]:
raw_data.shape   # shape returns tuple of size of rows & columns

(205, 26)

In [15]:
raw_data.columns   # returns column names

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [17]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [21]:
raw_data.isnull()   # isnull() returns True for missing data cell, False means no missing value.

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
201,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
202,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
203,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [23]:
raw_data.notnull()    # notnull() returns True for non-empty cell, False for missing missing value.

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
201,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
202,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
203,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
204,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

#### 2. Data Slicing 
    * loc() & iloc()

**raw_data.loc[row_label, column_label]**

In [32]:
# loc - Label based indexing: Using row & column names , data will be sliced
raw_data.loc[1:10]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430

In [34]:
# column slicing using loc(), 'make':'wheel-base'
raw_data.loc[:,'make':'wheel-base']

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5
3,audi,gas,std,four,sedan,fwd,front,99.8
4,audi,gas,std,four,sedan,4wd,front,99.4
...,...,...,...,...,...,...,...,...
200,volvo,gas,std,four,sedan,rwd,front,109.1
201,volvo,gas,turbo,four,sedan,rwd,front,109.1
202,volvo,gas,std,four,sedan,rwd,front,109.1
203,volvo,diesel,turbo,four,sedan,rwd,front,109.1
204,volvo,gas,turbo,four,sedan,rwd,front,109.1

In [36]:
raw_data.loc[[1,3,4,7,9,10,11,13],['make','fuel-type','num-of-doors','wheel-base','width','num-of-cylinders']]

           make fuel-type num-of-doors  wheel-base  width num-of-cylinders
1   alfa-romero       gas          two        88.6   64.1             four
3          audi       gas         four        99.8   66.2             four
4          audi       gas         four        99.4   66.4             five
7          audi       gas         four       105.8   71.4             five
9          audi       gas          two        99.5   67.9             five
10          bmw       gas          two       101.2   64.8             four
11          bmw       gas         four       101.2   64.8             four
13          bmw       gas         four       101.2   64.8              six

**raw_data.iloc[row_index, columns_index]**

In [40]:
# iloc - integer based label indexing: Using row & column index position, data will be sliced
raw_data.iloc[1:10]     # start index = 1, end index = 9

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [42]:
raw_data.iloc[:,:]    # selecting all rows & all columns

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [44]:
raw_data.iloc[:,2:12]    # slicing column by using integer index.

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4
...,...,...,...,...,...,...,...,...,...,...
200,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9
201,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8
202,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9
203,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9
204,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9

#### 3. Columns Selection

In [56]:
raw_data['make']    # slicing one column

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: make, Length: 205, dtype: object

In [58]:
# selecting multiple columns by using column-list.
raw_data[['make','fuel-type','num-of-doors','wheel-base','width','num-of-cylinders']]

            make fuel-type num-of-doors  wheel-base  width num-of-cylinders
0    alfa-romero       gas          two        88.6   64.1             four
1    alfa-romero       gas          two        88.6   64.1             four
2    alfa-romero       gas          two        94.5   65.5              six
3           audi       gas         four        99.8   66.2             four
4           audi       gas         four        99.4   66.4             five
..           ...       ...          ...         ...    ...              ...
200        volvo       gas         four       109.1   68.9             four
201        volvo       gas         four       109.1   68.8             four
202        volvo       gas         four       109.1   68.9              six
203        volvo    diesel         four       109.1   68.9              six
204        volvo       gas         four       109.1   68.9             four

[205 rows x 6 columns]

#### 4. Filter

In [61]:
raw_data['make'] == 'audi'   # This is a boolean condition, returns True if condition is True else False.

0      False
1      False
2      False
3       True
4       True
       ...
200    False
201    False
202    False
203    False
204    False
Name: make, Length: 205, dtype: bool

In [63]:
raw_data[raw_data['make'] == 'audi']

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [67]:
# Slicing dataframe using multiple condition.
raw_data[(raw_data['make'] == 'toyota') & (raw_data['body-style'] == 'sedan')]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
156,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,30,37,6938
158,0,91,toyota,diesel,std,four,sedan,fwd,front,95.7,...,110,idi,3.27,3.35,22.5,56,4500,34,36,7898
160,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,38,47,7738
162,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,28,34,9258
163,1,168,toyota,gas,std,two,sedan,rwd,front,94.5,...,98,2bbl,3.19,3.03,9.0,70,4800,29,34,8058
165,1,168,toyota,gas,std,two,sedan,rwd,front,94.5,...,98,mpfi,3.24,3.08,9.4,112,6600,26,29,9298
173,-1,65,toyota,gas,std,four,sedan,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92,4200,29,34,8948
174,-1,65,toyota,diesel,turbo,four,sedan,fwd,front,102.4,...,110,idi,3.27,3.35,22.5,73,4500,30,33,10698
176,-1,65,toyota,gas,std,four,sedan,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.7,92,4200,27,32,10898
180,-1,90,toyota,gas,std,four,sedan,rwd,front,104.5,...,171,mpfi,3.27,3.35,9.2,156,5200,20,24,15690

In [69]:
# Data display when either of two condition is True.
raw_data[(raw_data['make'] == 'toyota') | (raw_data['body-style'] == 'sedan')]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

#### 5. Sorting

In [72]:
raw_data['wheel-base'].sort_values()              # Sort by ascending order.

31      86.6
30      86.6
18      88.4
0       88.6
1       88.6
       ...
113    114.2
114    114.2
71     115.6
70     115.6
73     120.9
Name: wheel-base, Length: 205, dtype: float64

In [74]:
raw_data['wheel-base'].sort_values(ascending=False)   # Sorting wheel-base by Descending Order

73     120.9
71     115.6
70     115.6
114    114.2
113    114.2
       ...
1       88.6
0       88.6
18      88.4
30      86.6
31      86.6
Name: wheel-base, Length: 205, dtype: float64

In [78]:
raw_data.sort_values(by = 'engine-size')   # sort Dataframe by engine size,

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
57,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.4,101,6000,17,23,13645
55,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.4,101,6000,17,23,10945
56,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.4,101,6000,17,23,11845
32,1,101,honda,gas,std,two,hatchback,fwd,front,93.7,...,79,1bbl,2.91,3.07,10.1,60,5500,38,42,5399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,0,?,jaguar,gas,std,four,sedan,rwd,front,113.0,...,258,mpfi,3.63,4.17,8.1,176,4750,15,19,35550
47,0,145,jaguar,gas,std,four,sedan,rwd,front,113.0,...,258,mpfi,3.63,4.17,8.1,176,4750,15,19,32250
74,1,?,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400
73,0,?,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
49,0,?,jaguar,gas,std,two,sedan,rwd,front,102.0,...,326,mpfi,3.54,2.76,11.5,262,5000,13,17,36000

In [82]:
raw_data.sort_values(by = ['make','engine-size']).head(20)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
14,1,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565
15,0,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760
16,0,?,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
17,0,?,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880
18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
19,1,98,chevrolet,gas,std,two,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6295

In [86]:
# 'make' = sort 'make' by descending order, 'engine-size' by ascending order.
raw_data.sort_values(by = ['make','engine-size'], ascending = [False,True]).head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
198,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420
199,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950
194,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,12940
195,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985
197,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,16515
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470

In [88]:
# show all unique values of makers'
raw_data['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [92]:
# value_counts() show frequency of each category.
raw_data['make'].value_counts()

make
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: count, dtype: int64

#### 6. Filter & Query
    * filter() method is primarily used for subset the rows and columns of DataFrame.

In [112]:
raw_data.filter(like = 'num')

    num-of-doors num-of-cylinders
0            two             four
1            two             four
2            two              six
3           four             four
4           four             five
..           ...              ...
200         four             four
201         four             four
202         four              six
203         four              six
204         four             four

[205 rows x 2 columns]

In [102]:
# slicing rows by row labels & axis = 0 (rowwise)
raw_data.filter(items = [0 , 2, 3, 5, 6, 8, 9, 10], axis = 0)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430

In [108]:
raw_data.filter(regex = '^e')    # slicing column by ^ which indicates start of column name.

    engine-location engine-type  engine-size
0             front        dohc          130
1             front        dohc          130
2             front        ohcv          152
3             front         ohc          109
4             front         ohc          136
..              ...         ...          ...
200           front         ohc          141
201           front         ohc          141
202           front        ohcv          173
203           front         ohc          145
204           front         ohc          141

[205 rows x 3 columns]

In [118]:
raw_data.query("make =='toyota' and `engine-size` >= 130")

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
167,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,8449
168,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,9639
169,2,134,toyota,gas,std,two,hatchback,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,9989
170,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,11199
171,2,134,toyota,gas,std,two,hatchback,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,11549
172,2,134,toyota,gas,std,two,convertible,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,17669
178,3,197,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.3,161,5200,20,24,16558
179,3,197,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.3,161,5200,19,24,15998
180,-1,90,toyota,gas,std,four,sedan,rwd,front,104.5,...,171,mpfi,3.27,3.35,9.2,156,5200,20,24,15690
181,-1,?,toyota,gas,std,four,wagon,rwd,front,104.5,...,161,mpfi,3.27,3.35,9.2,156,5200,19,24,15750

#### 7. Handling Missing Values

In [124]:
import numpy as np

In [128]:
# replace '?' by 'nan' and update dataframe 
raw_data.replace('?', np.nan, inplace=True)

In [132]:
# Returns total missing values from each column name.
raw_data.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [142]:
# Display missing values %
raw_data.isnull().sum() / raw_data.shape[0] * 100

symboling             0.00000
normalized-losses    20.00000
make                  0.00000
fuel-type             0.00000
aspiration            0.00000
num-of-doors          0.97561
body-style            0.00000
drive-wheels          0.00000
engine-location       0.00000
wheel-base            0.00000
length                0.00000
width                 0.00000
height                0.00000
curb-weight           0.00000
engine-type           0.00000
num-of-cylinders      0.00000
engine-size           0.00000
fuel-system           0.00000
bore                  1.95122
stroke                1.95122
compression-ratio     0.00000
horsepower            0.97561
peak-rpm              0.97561
city-mpg              0.00000
highway-mpg           0.00000
price                 1.95122
dtype: float64

In [148]:
# axis = 1 , Drop columns by using column name.
raw_data.drop(['symboling','normalized-losses'], axis = 1, inplace=True)

In [158]:
raw_data['price'].dtype

dtype('O')

In [166]:
raw_data['price'] = raw_data['price'].astype('float64')

In [168]:
vehicle_df = raw_data.copy()

In [170]:
vehicle_df['price'].median()

10295.0

In [176]:
# fill missing values by mean of 'price'
vehicle_df['price'] = vehicle_df['price'].fillna(vehicle_df['price'].median())

In [184]:
# drop missing rows from all columns
vehicle_df.dropna(inplace=True)

In [186]:
vehicle_df.isnull().sum()

make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

#### 8. Drop Duplicate Rows
    * Drop duplicate values

In [189]:
vehicle_df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
200    False
201    False
202    False
203    False
204    False
Length: 197, dtype: bool

In [203]:
# select random sample from dataframe using frac=0.05 (5%) or n = num of samples
sample_df = vehicle_df.sample(frac = 0.05)

In [211]:
vehicle_df1 = pd.concat([vehicle_df, sample_df], ignore_index=True)

In [213]:
vehicle_df1[vehicle_df1.duplicated()]

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
197,saab,gas,std,four,sedan,fwd,front,99.1,186.6,66.5,...,121,mpfi,3.54,3.07,9.3,110,5250,21,28,12170.0
198,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,199.2,72.0,...,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400.0
199,nissan,gas,std,four,hatchback,fwd,front,97.2,173.4,65.2,...,120,2bbl,3.33,3.47,8.5,97,5200,27,34,8949.0
200,plymouth,gas,std,two,hatchback,fwd,front,93.7,157.3,63.8,...,90,2bbl,2.97,3.23,9.4,68,5500,37,41,5572.0
201,toyota,gas,std,four,sedan,fwd,front,102.4,175.6,66.5,...,122,mpfi,3.31,3.54,8.7,92,4200,27,32,10898.0
202,nissan,gas,std,four,sedan,fwd,front,100.4,181.7,66.5,...,181,mpfi,3.43,3.27,9.0,152,5200,17,22,13499.0
203,toyota,diesel,std,four,hatchback,fwd,front,95.7,166.3,64.4,...,110,idi,3.27,3.35,22.5,56,4500,38,47,7788.0
204,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
205,audi,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250.0
206,toyota,gas,std,two,hatchback,rwd,front,94.5,168.7,64.0,...,98,mpfi,3.24,3.08,9.4,112,6600,26,29,9538.0

In [217]:
vehicle_df1.drop_duplicates(inplace=True)   # drop all duplicates rows from DataFrame.

#### 9. Group By
    * Used for aggregate operations.

In [223]:
vehicle_df1.groupby('make')['price'].mean()

make
alfa-romero      15498.333333
audi             16778.571429
bmw              26118.750000
chevrolet         6007.000000
dodge             7790.125000
honda             8184.692308
isuzu             9605.750000
jaguar           34600.000000
mazda             9852.000000
mercedes-benz    33647.000000
mercury          16503.000000
mitsubishi        9239.769231
nissan           10415.666667
peugot           15489.090909
plymouth          7963.428571
porsche          27179.400000
saab             15223.333333
subaru            8541.250000
toyota            9885.812500
volkswagen       10077.500000
volvo            18063.181818
Name: price, dtype: float64

In [225]:
vehicle_df1.groupby('make')[['city-mpg','price']].mean()

                city-mpg         price
make
alfa-romero    20.333333  15498.333333
audi           18.857143  16778.571429
bmw            19.375000  26118.750000
chevrolet      41.000000   6007.000000
dodge          28.500000   7790.125000
honda          30.384615   8184.692308
isuzu          31.000000   9605.750000
jaguar         14.333333  34600.000000
mazda          27.833333   9852.000000
mercedes-benz  18.500000  33647.000000
mercury        19.000000  16503.000000
mitsubishi     24.923077   9239.769231
nissan         27.000000  10415.666667
peugot         22.454545  15489.090909
plymouth       28.142857   7963.428571
porsche        17.400000  27179.400000
saab           20.333333  15223.333333
subaru         26.333333   8541.250000
toyota         27.500000   9885.812500
volkswagen     28.583333  10077.500000
volvo          21.181818  18063.181818

In [237]:
vehicle_df1.groupby('make')[['city-mpg','price']].max().sort_values(by = 'price', ascending = False)

               city-mpg    price
make
mercedes-benz        22  45400.0
bmw                  23  41315.0
porsche              19  37028.0
jaguar               15  36000.0
audi                 24  23875.0
volvo                26  22625.0
nissan               45  19699.0
saab                 21  18620.0
mazda                31  18344.0
peugot               28  18150.0
toyota               38  17669.0
mercury              19  16503.0
alfa-romero          21  16500.0
mitsubishi           37  14869.0
volkswagen           37  13845.0
dodge                37  12964.0
honda                49  12945.0
plymouth             37  12764.0
subaru               32  11694.0
isuzu                38  11048.0
chevrolet            47   6575.0

#### 10. apply()
    * Used to apply() function to modify the column values.

In [250]:
vehicle_df1['Dimension'] = vehicle_df1.apply(lambda row : row['length'] * row['width'], axis = 1)

In [254]:
vehicle_df1.head(3)

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Dimension
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,10820.08
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,10820.08
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,11213.60

#### 11. set & reset index

In [260]:
# Sample data
city = {
    'United States': 75708,
    'Germany': 47000,
    'Japan': 42444,
    'India': 2200,
    'Brazil': 10200,
    'China': 12500,
    'Australia': 75000,
    'Canada': 55000,
    'United Kingdom': 47000,
    'France': 43000
}
# Create a Pandas Series
gdp_per_capita_series = pd.Series(city)
print(gdp_per_capita_series)

United States     75708
Germany           47000
Japan             42444
India              2200
Brazil            10200
China             12500
Australia         75000
Canada            55000
United Kingdom    47000
France            43000
dtype: int64

In [288]:
city_gdp = pd.DataFrame(gdp_per_capita_series, columns=['gdp_per_capita'])

In [290]:
city_gdp

                gdp_per_capita
United States            75708
Germany                  47000
Japan                    42444
India                     2200
Brazil                   10200
China                    12500
Australia                75000
Canada                   55000
United Kingdom           47000
France                   43000

In [292]:
city_gdp = city_gdp.reset_index()
city_gdp

            index  gdp_per_capita
0   United States           75708
1         Germany           47000
2           Japan           42444
3           India            2200
4          Brazil           10200
5           China           12500
6       Australia           75000
7          Canada           55000
8  United Kingdom           47000
9          France           43000

In [294]:
city_gdp.set_index('index')

                gdp_per_capita
index
United States            75708
Germany                  47000
Japan                    42444
India                     2200
Brazil                   10200
China                    12500
Australia                75000
Canada                   55000
United Kingdom           47000
France                   43000

#### 12. Pivot Table

In [306]:
vehicle_df1.pivot_table(values='price', index = 'drive-wheels', columns='body-style', aggfunc='mean')

body-style,convertible,hardtop,hatchback,sedan,wagon
drive-wheels,,,,,
4wd,NaN,NaN,8949.000000,12647.333333,9095.750000
fwd,11595.0,8249.000000,8365.166667,9834.290909,10061.181818
rwd,23949.6,24202.714286,14419.666667,21711.833333,16994.222222

In [308]:
vehicle_df1.pivot_table(values='price', index = ['drive-wheels','engine-location'], 
                        columns='body-style', aggfunc='mean')

body-style                    convertible  hardtop     hatchback  \
drive-wheels engine-location
4wd          front                    NaN      NaN   8949.000000
fwd          front                11595.0   8249.0   8365.166667
rwd          front                20680.0  20572.6  14419.666667
             rear                 37028.0  33278.0           NaN

body-style                           sedan         wagon
drive-wheels engine-location
4wd          front            12647.333333   9095.750000
fwd          front             9834.290909  10061.181818
rwd          front            21711.833333  16994.222222
             rear                      NaN           NaN

#### 13. Merge

In [313]:
# Series with country names and GDP per capita
df_series1 = pd.Series({'United States': 75708,'Germany': 47000,'Japan': 42444,'India': 2200,'Brazil': 10200
                }, name='GDP_Per_Capita')

# Series with country names and population
df_series2 = pd.Series({'United States': 331000000,'Germany': 83700000,'Japan': 126000000,'India': 1390000000,
                 'Brazil': 213000000}, name = 'Population')

In [323]:
df1 = pd.DataFrame(df_series1).reset_index()

In [325]:
# rename existing column
df1.columns = ['Country','GDP_Per_Capita']

In [333]:
# rename existing column
df2 = pd.DataFrame(df_series2).reset_index()
df2.columns = ['Country','Population']

In [335]:
pd.merge(df1, df2, on='Country',how='inner')

         Country  GDP_Per_Capita  Population
0  United States           75708   331000000
1        Germany           47000    83700000
2          Japan           42444   126000000
3          India            2200  1390000000
4         Brazil           10200   213000000

In [337]:
pd.merge(df1, df2, on='Country',how='outer')

         Country  GDP_Per_Capita  Population
0         Brazil           10200   213000000
1        Germany           47000    83700000
2          India            2200  1390000000
3          Japan           42444   126000000
4  United States           75708   331000000

In [339]:
pd.merge(df1, df2, on='Country',how='left')

         Country  GDP_Per_Capita  Population
0  United States           75708   331000000
1        Germany           47000    83700000
2          Japan           42444   126000000
3          India            2200  1390000000
4         Brazil           10200   213000000

In [341]:
pd.merge(df1, df2, on='Country',how='right')

         Country  GDP_Per_Capita  Population
0  United States           75708   331000000
1        Germany           47000    83700000
2          Japan           42444   126000000
3          India            2200  1390000000
4         Brazil           10200   213000000

#### 14. CrossTab
    * Cross Tabulation is pandas method to create contingency table, that shows the frequency distribution of attributes.

In [347]:
pd.crosstab(vehicle_df1['body-style'],vehicle_df1['num-of-doors'])

num-of-doors  four  two
body-style
convertible      0    6
hardtop          0    8
hatchback       10   55
sedan           79   15
wagon           24    0